h1 {
	margin: 30px auto;
	margin-top: 0;
	font-size: 48px;
	background: var(--gradient);
	opacity: 0.8;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--grey);
}
