.inputNew {
	margin: 20px auto;
	border: 1px solid black;
	width: 570px;
	padding: 25px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
}

.inputLabels, .inputBoxes {
	display: grid;
	grid-template-columns: 280px 90px 100px 50px;
}

input {
	height: 30px;
}

.animeTitle {
	padding-left: 5px;
}
