.animeDiv {
	margin: 20px auto;
	width: 800px;
	border: 1px solid var(--grey);
	background-color: rgba(255,255,255,0.7);
}

h2 {
	font-size: 18px;
	padding: 10px 20px;
	background: rgba(255,255,255,0.8);
}

.animeListGridBoxes {
	display: grid;
	grid-template-columns: 1fr;
}

.singleAnimeInfo {
	padding: 5px;
	text-align: center;
	display: grid;
	grid-template-columns: 4fr 2fr 2fr;
	opacity: 0.9;
}

.boxInfoTitle {
	align-self: center;
	font-style: italic;
}

.boxInfo {
	padding: 5px;
	cursor: pointer;
}

.singleAnimeInfo:nth-of-type(2n-1) {
	background-color: var(--purple);
	&:hover {
		background-color: var(--dark-purple);
	}
}

.singleAnimeInfo:nth-of-type(2n) {
	background-color: var(--pink);
	&:hover {
		background-color: var(--dark-pink);
	}
}
