.tableDiv {
	margin: 20px auto;
	width: 730px;
	padding-bottom: 25px;
	border: 1px solid var(--grey);
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

h2 {
	font-size: 22px;
	margin-bottom: 5px;
	padding: 15px 25px;
	background: var(--gradient);
	border-radius: 10px 10px 0 0;
}

.animeListTable {
	margin: 0 auto;
	border-collapse: collapse;
}

.animeListTitleColumn {
	width: 480px;
	font-weight: bold;
}

.animeListEpisodesColumn {
	width: 120px;
	font-weight: bold;
}

.animeListStatusColumn {
	width: 80px;
	font-weight: bold;
}

.tableRow {
	height: 30px;
}

.episodesCell, .titleCell, .statusCell, .animeListStatusColumn, .animeListEpisodesColumn, .animeListTitleColumn {
	border-bottom: 1px solid var(--grey);
	padding-top: 5px;
	padding-bottom: 5px;
}
