@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--grey: rgb(170,170,170);
	--dark-grey: rgb(25,25,25);
	--red: #e3632f;
	--dark-red: #e34a2f;
	--transparent-grey: rgba(25,25,25,0.8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	font-weight: lighter;
	font-size: 12px;
}

html {
	background-image: url(./images/HuTao.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000000;
	background-position: bottom left;
}
